<footer class="footer">
      <div class="container-fluid text-center text-muted">
        <p class="text-muted"><strong>Lu Zhang</strong> : <strong>CS340 Spring 2017</strong> : <strong>Oregon State University</strong></p>
      </div>
</footer>