{{> header}}

<div class="container-fluid text-center">
  <h1>Pokemon Catch Database</h1>
</div>

<div class="container">
  <div class="text-center">
    <h1>Welcome</h1>
  </div>
</div>

<div class="container text-center">
  <p>
    You can click on any of the tables named above to see the data that exists there or make any changes to the data that is in those tables.
  </p>
</div>