{{> header}}

<div class="container-fluid text-center">
  <h1>Location</h1>
</div>

<div class="container-fluid col-md-offset-3">
  <form class="form-inline">
      <div class="row">
        <div class="form-group ">
          <input type="text" class="form-control" id="addname" placeholder="Location Name">
        </div>
        <div class="form-group ">
          <select class="form-control" name="" id="addClass">
            <option value="Pallet Town">Pallet Town</option>
            <option value="Route 1">Route 1</option>
            <option value="Viridian City">Viridian City</option>
            <option value="Route 2">Route 2</option>
            <option value="Viridian Forest">Viridian Forest</option>
            <option value="Route 3">Route 3</option>
          </select>
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="addZipcode" placeholder="Zipcode">
        </div>
        <div class="form-group edit-buttons">
          <button id="addRow" class="btn btn-default" role="button" type="button" name="button">+</button>
          <button id="reset" class="btn btn-danger" type="button" name="button"><span class="" aria-hidden="true">&times;</span></button>
        </div>
      </div>
  </form>
</div>

{{> displayTable}}